<form (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate >
    
    <h1>Personal Details</h1>
    <div>
        <label for="email">Email</label>
        <hr>
        <input type="email" name="email" id="email" value="name"
        required
        ngModel
        >
    </div>
    <div>
        <label for="first">First Name</label>
        <hr>
        <input type="text" name="first" id="first" value="first"
  
        required
        ngModel>
    </div>
    <div>
        <label for="last">Last Name</label>
        <hr>
        <input type="text" name="last" id="last" value="last"
    
        required
        ngModel>
    </div>
    <div>
        <label for="mobile">Mobile</label>
        <hr>
        <input type="number" name="mobile" id="mobile" value="mobile"
    
        required
        ngModel>
    </div>
    <div>
        <label for="date">Date of Birth</label>
        <hr>
        <mat-form-field class="example-full-width">
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder='choose a date'
            name="date"  ngModel required value="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
            
    </div>
    <hr>

    <button mat-button type="submit" [disabled]='!f.valid'>Next</button>

</form>
<div>
        {{f.value | json}}
    </div>
<!-- <p>Message {{ message}}</p> -->
