<form [formGroup]="list" (ngSubmit)="onSubmit()" >
    <br>
    <div>
        <input type="text" name="search" id="search" (click)='toggleDropDown()'
        placeholder="Search" formControlName="search" #search>
        <hr>
    </div>
<div >

    <!-- <div clickOutside(clickOutside)='toggleDropDown()' *ngIf="showDropDown" class="address-container-dropdown"> -->
        <div *ngFor="let add of address |filter: getSearchValue() "> 

            <div *ngIf="showDropDown" class="address-container-dropdown">
    
                <div (click)='selectValue(add)' class="list" >
            
                        {{add }}
                </div>
        <div>
                {{add }}
        </div>
            
        </div>
        </div>

    <div *ngFor="let add of address |filter: getSearchValue() " (click)='selectValue(add)'>

            {{add }} 
    </div>
    <div *ngIf="searchValue.valid">
        <button mat-button type="submit" >Next</button>

    </div>
</div>

<p>Selected Bank:  {{list.value.search}}</p>
</form>


    