
<form  class="container" #shipping='ngForm' (ngSubmit)="onSubmit(shipping)" >
<div *ngFor="let add of address">

    <hr>
    <div class="form-row">
        
        <div class="form-group">
        <label for="inputAddress">{{add.inputAddress}}</label>
        <input type="inputAddress" class="form-control" id="inputAddress" 
        name="inputAddress" ngModel required placeholder="1234 Main St">
        </div>
        <div class="form-group">
            <label for="inputAddress2">Address 2</label>
            <input type="inputAddress2" class="form-control" id="inputAddress2" 
            name="inputAddress2" ngModel required placeholder="Apartment, studio, or floor">
        </div>
        <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="inputCity" class="form-control" id="inputCity"
            name="inputCity" ngModel required>
        </div>
            <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input type="inputZip" class="form-control" id="inputZip"
            name="inputZip" ngModel required>
        </div>
        </div>
    </div>
        
    
        <button type="submit" [disabled]="!shipping.valid" class="btn btn-primary">{{isLoggedIn? 'Checkout' : 'Save'}} </button> |
        <button type="button" class="btn btn-primary" 
        (click)="onSwitchMode()">Switchto {{isLoggedIn? 'Save' : 'Checkout'}}</button>
        
</div> 


</form> 
