

mat-slider {
    
  width: 300px;
}
.container{
  margin-top: 2%;

  margin-left: 5%;
  margin-right: 5%;

}
h1{
  text-align: center;
}
input{
  width: 100%;
  border-radius: 2px;

}
input.ng-touched.ng-invalid {
  border: 1px solid red;
  padding: 1px;
  border-radius: 2px;
}

input.ng-touched.ng-valid {
  border: 1px solid green;
  padding: 1px;
  border-radius: 2px;
}
