

<form class="container" #shipping='ngForm' (ngSubmit)="onSubmit(shipping)">
        <div class="form-row">
        </div>
        <div class="form-group">
          <label for="inputAddress">Address</label>
          <input type="text" class="form-control" id="inputAddress" 
          name="inputAddress" ngModel required placeholder="1234 Main St">
        </div>
        <div class="form-group">
          <label for="inputAddress2">Address 2</label>
          <input type="text" class="form-control" id="inputAddress2" 
          name="inputAddress2" ngModel required placeholder="Apartment, studio, or floor">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity"
            name="inputCity" ngModel required>
          </div>
          <!-- <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div> -->
          <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" id="inputZip"
            name="inputZip" ngModel required>
          </div>
        </div>
        <div class="form-group" *ngIf="isLoggedIn">
          <label for="email">Address</label>
          <input type="text" class="form-control" id="email" 
          name="email" ngModel required email placeholder="jhon@doe.com">
        </div>
  
        <button type="submit" class="btn btn-primary">{{isLoggedIn? 'Checkout' : 'Save'}} </button> |
        <button type="button" class="btn btn-primary" 
        (click)="onSwitchMode()">Switchto {{isLoggedIn? 'Save' : 'Checkout'}}</button>

      </form>