

<div *ngFor="let product of products ; let i = index">
    <div class="card" *ngFor="let shop of product.shoppings ; let i = index" [routerLink]="[index]"
    routerLinkActive="router-link-active"  (click)= onSelect(shop)> 
        <div class="card-body">
            <!-- <h5>{{product.name}}</h5> -->

            <h6 class="card-title">{{shop.name}}</h6>
            <p class="card-text">Rs. {{shop.amount}} / meter</p>
            <p class="card-text">Rs. {{shop.id}} / meter</p>
            <p class="card-text"><small class="text-muted">{{shop.description}}</small></p>
            <!-- <h5 class="card-title">{{shopping.name}}</h5>
            <p class="card-text">Rs. {{shopping.name}} / meter</p>
            <p class="card-text"><small class="text-muted">{{shopping.description}}</small></p> -->
        

        </div>
        <img class="card-img-bottom" src="" alt="Card image cap">
 </div>




    <!-- [routerLink]="[index]" -->