<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">JustShop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" 
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
    
            <li class="nav-item">
              <a class="nav-link" routerLink="/products" routerLinkActive="router-link-active" >Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/shopping-cart" routerLinkActive="router-link-active">Shopping-Cart</a>
            </li>            
            <li class="nav-item">
                <a class="nav-link" routerLink="/shipping" routerLinkActive="router-link-active">Shipping</a>
            </li>      <li class="nav-item">
                <a class="nav-link" routerLink="/login" routerLinkActive="router-link-active">Login</a>
            </li>
          </ul>
        </div>
      </nav>

