<mat-toolbar color = "primary">
    <span>
       <a routerLink="/">Messages</a> </span>
       <span class="spacer"></span>
    <ul>
        <li>
            <a mat-button routerLink="/create" routerLinkActive="mat-warn" >New Post</a>
        </li>
        <li>
            <a mat-button routerLink="/login" routerLinkActive="mat-warn" >Login</a>
        </li>
        <li>
            <a mat-button routerLink="/signup" routerLinkActive="mat-warn" >Signup</a>
        </li>
    </ul>
 </mat-toolbar>