<div class="container" *ngIf="afAuth.user | async as user">
    <form  (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Title and Description</span>
                </div>
                <input type="text" aria-label="Title" name="title"
                class="form-control" [(ngModel)]='item.title'>
                <input type="text" aria-label="Description" name="description"
                class="form-control"[(ngModel)]='item.description'>
            </div>
            <input type="submit" value="submit" class="btn btn-primary">
        </div>
    </form>
</div>